body{
    font-family: Lustria;
    color:white;
}

div.page{
    height:800px;
    background-image: url(http://localhost/Seadili/Seadili/5_images/fondhead.jpg); 
    padding: 10px 10px 10px 10px;
}

div.page h1{
    color:orange;
    text-align: center;
}

div.inscription{
    margin: auto;
    width: 455px;
}

label.lab{
    display:inline-block;
    width:210px;
    text-align: right;
    margin-right: 5px;
}

label.lab + input.champ{
    margin-bottom: 10px;
}

p.foot {
    color: black;
}

div.titre{
    border-top:solid gray; 
    background-image: url(http://localhost/Seadili/Seadili/5_images/fondhead.jpg); 
    height:150px; 
    text-align:center; 
    color:white; 
    font-family: Lustria;
}

div.connexion{
    background-image: url(http://localhost/Seadili/Seadili/5_images/connexion.jpg); 
    height:60px; 
    margin-top:5px;
}

div.input{
    text-align:right; 
    position:relative; 
    padding-top:15px;
    padding-right:10px;
}

div.menu{
    border-top:solid gray; 
    background-color:gray; 
    height:50px
}

div.lienenreg{
    position:relative; 
    float:right; 
    background-color:black; 
    height:50px; 
    width:130px; 
    text-align:center; 
    color:white; 
    font-weight:bold
}

div.lienplaylist{
    float:left;  
    background-color:black; 
    height:50px; 
    width:130px; 
    text-align:center; 
    color:white; 
    font-weight:bold
}

div.lienhome{
    float:left; 
    background-color:black; 
    height:50px; 
    width:130px; 
    text-align:center; 
    color:white; 
    font-weight:bold;
}

input.champ{
    background-color:silver;
    padding:3px;
    border:1px solid white;
    border-radius:7px;
    width:150px;
    box-shadow:1px 1px 2px Silver inset;
}

input.recherche{
    background-color:silver;
    padding:3px;
    border:1px solid white;
    border-radius:7px;
    width:500px;
    box-shadow:1px 1px 2px Silver inset;
}

input.bouton{
    background-color:Lavender;
    width:100px;
    padding:3px;
    border-radius:7px;
    margin-left:5px;
    box-shadow:1px 1px 1px Silver;
    cursor:pointer;
}

input.bouton:active{
    background-color:Lavender;
    box-shadow:1px 1px 1px Silver inset;
}

button{
    background-color:white;
    border: 0.1px solid #abadb3;
    cursor:pointer;
}

img.loupe{
    width:25px; 
    height:25px;
}