body {
    font-family: Open Sans Condensed;
}

input {
    font-family: Open Sans Condensed;
}

div.titre {
    /*background-image: url(http://localhost/Seadili/Seadili/5_images/backgroundheader2.jpg); 
    border-top: solid gray;
    border-bottom: solid gray;*/
    text-align:center;
    font-family: Lustria;
    color: black;
}

div.titre h1 {
    font-size: 50px;
    margin-bottom: -25px;
}

div.titre h4 {
    font-style: italic;
}

div.menu{
    height:100px;
    text-align: center;
}

img.loupe{
    width:15px; 
    height:15px;
}

div.lienhome,div.lienplaylist,div.lienenreg{
    display: inline-block;
    padding-top: 10px;
    text-align: center;
    width:130px; 
    border-bottom: solid rgb(220,220,220) 1px;
}

div.connexion{
    display: inline-block;
    text-align: right;
    float: right;
}

input.newPlaylist {
    position: absolute;
    top: 70px;
    right: 8px;
    border: solid rgb(220,220,220) 1px;
    padding: 8px;
    width: 300px;
    text-align: center; 
}

input.nomNewPlaylist {
    position: absolute;
    top: 100px;
    right: 8px;
    border: solid rgb(220,220,220) 1px;
    padding: 8px;
    width: 282px;
    text-align: left; 
}

#playlistcurrent {
    position: absolute;
    top: 132px;
    right: 8px;
    border: solid rgb(220,220,220) 1px;
    padding: 8px;
    width: 282px;
    text-align: left; 
}

div.morceau {
    display: inline-block;
    border: solid rgb(220,220,220) 1px;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 3px;
    margin : 3px;
    overflow: hidden;
}

div.artiste {
    display: inline-block;
    border: solid rgb(220,220,220) 1px;
    text-align: center;
    width: 200px;
    height: 160px;
    padding: 3px;
    margin : 3px;
    overflow: hidden;
}

div.playlist {
    display: inline-block;
    border: solid rgb(220,220,220) 1px;
    text-align: center;
    padding: 3px;
    margin : 3px;
    width: 214px;
    overflow: hidden;
}

div.decouverte {
    border: groove white 2px;
    text-align: center;
    margin: 3px;
    border-radius: 10px;
    width: 400px;

}

div.Dplaylist {
    background-color: silver;
    color: black;
    display: inline-block;
    border: solid white 2px;
    text-align: left;
    padding: 3px;
    margin : 3px;
    width: 365px;
    cursor: pointer;
    overflow: hidden;
}

div.inscription{
    margin: auto;
    width: 455px;
}

input.champ{
    padding:3px;
    border:1px solid white;
    width:150px;
    box-shadow:1px 1px 2px Silver inset;
}

label.lab + input.champ{
    margin-bottom: 10px;
}

label.lab{
    display:inline-block;
    width:210px;
    text-align: right;
    margin-right: 5px;
}

div.input{
    text-align:right; 
    position:relative; 
    padding-top:15px;
    padding-right:10px;
}

div.confirm {
    text-align: center;
}

div.confirm input{
    font-size: 14px;
}

div.foot {
    display: block;
    text-align: center;
}